
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<input type="text" class="form-control" id="telefono" name="telefono" required>
<button class="btn btn-info controlador" id="controlador" type="button"></button>

