.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

#col1 {
    float: left;
    width: 100%;
}

#col2 {
    float: right;
    width: 70%;
}



.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #00496B;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 50%;
}

    .datagrid table td, .datagrid table th {
        padding: 6px 7px;
    }

    .datagrid table thead th {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #46a9da), color-stop(1, #0d85c2) );
        background: -moz-linear-gradient( center top, #8cd9ff 50%, #0183c3 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
        background-color: #0183c3;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        border-left: 2px solid #11a0e7;
    }

        .datagrid table thead th:first-child {
            border: none;
        }

    .datagrid table tbody td {
        color: #00496B;
        border-left: 1px solid #E1EEF4;
        font-size: 15px;
        font-weight: normal;
    }

    .datagrid table tbody .alt td {
        background: #E1EEF4;
        color: #00496B;
    }

    .datagrid table tbody td:first-child {
        border-left: none;
    }

    .datagrid table tbody tr:last-child td {
        border-bottom: none;
    }

    .datagrid table tfoot td div {
        border-top: 1px solid #006699;
        background: #E1EEF4;
    }

    .datagrid table tfoot td {
        padding: 0;
        font-size: 11px
    }

        .datagrid table tfoot td div {
            padding: 2px;
        }

        .datagrid table tfoot td ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;
        }

    .datagrid table tfoot li {
        display: inline;
    }

        .datagrid table tfoot li a {
            text-decoration: none;
            display: inline-block;
            padding: 2px 8px;
            margin: 1px;
            color: #FFFFFF;
            border: 1px solid #006699;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
            background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
            background-color: #006699;
        }

    .datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
        text-decoration: none;
        border-color: #006699;
        color: #FFFFFF;
        background: none;
        background-color: #00557F;
    }






/*TABLA LISTA*/

.dataground table {
    border-collapse: collapse;
    text-align: left;
    width: 100;
}

/*#col1 {
    float: left;
    width: 60%;
}

#col2 {
    float: right;
    width: 35%;
}*/



.dataground {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    /*    background: #fff;*/
    overflow: hidden;
    /* border: 1px solid #006699;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 50%;
}

    .dataground table td, .dataground table th {
        padding: 6px 7px;
    }

    .dataground table thead th {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0c91d3), color-stop(1, #138ac6) );
        background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
        background-color: #006699;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        border-left: 2px solid #fff;
    }

        .dataground table thead th:first-child {
            border: none;
        }

    .dataground table tbody td {
        color: #00496b;
        border-left: 1px solid #E1EEF4;
        font-size: 15px;
        font-weight: normal;
    }

    .dataground table tbody .alt td {
        background: #E1EEF4;
        color: #00496B;
    }

    .dataground table tbody td:first-child {
        border-left: none;
    }

    .dataground table tbody tr:last-child td {
        border-bottom: none;
    }

    .dataground table tfoot td div {
        border-top: 1px solid #006699;
        background: #E1EEF4;
    }

    .dataground table tfoot td {
        padding: 0;
        font-size: 11px
    }

        .dataground table tfoot td div {
            padding: 2px;
        }

        .dataground table tfoot td ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;
        }

    .dataground table tfoot li {
        display: inline;
    }

        .dataground table tfoot li a {
            text-decoration: none;
            display: inline-block;
            padding: 2px 8px;
            margin: 1px;
            color: #FFFFFF;
            border: 1px solid #006699;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
            background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
            background-color: #006699;
        }

    .dataground table tfoot ul.active, .datagrid table tfoot ul a:hover {
        text-decoration: none;
        border-color: #006699;
        color: #FFFFFF;
        background: none;
        background-color: #00557F;
    }






/**/

table {
    border: 1px solid;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.blank {
    /*background-color: #E1EEF4;*/
}

table thead tr {
    /*background-color: #E1EEF4;*/
    border: solid;
    padding: .35em;
}

    table thead tr:nth-child(1) {
        border: solid;
    }

table th,
table td {
    padding: .625em;
    text-align: center;
    width: 80;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
